<link rel="import" href="../polymer/polymer-element.html">
<link rel="import" href="../iron-ajax/iron-ajax.html">
<link rel="import" href="../iron-collapse/iron-collapse.html">
<link rel="import" href="../iron-icons/av-icons.html">

<dom-module id="graphic-card-provider">
  <template>
    <style>
      :host { display: block;}
      #selected {cursor: pointer;list-style: none;border-bottom:1px solid lightgray;padding: 10px;margin:5px;color: #888;}
      #selected:hover { background: rgba(220,220,220, 0.4); color:#007bff;}
      .btn-collapsible:hover { color:#0056b3;}
      .btn-collapsible {background: transparent;width: 100%;border: none;border-bottom:1px solid lightgrey;
        color: #007bff;padding: 20px;cursor: pointer;outline: none;text-align: initial;font-size:13pt;}
      .close {float:right;font-size:1rem;font-weight:500;line-height:0.5;color:#000;
       text-shadow: 0 1px 0 #fff;opacity: .5;cursor: pointer;}
      #show-selected { padding: 10px; margin: 5px; color: #888; font-weight: bold;}
      .collapse-content { border: 1px solid #dedede;}
    </style>
    <div>
      <button id="btn" on-click="toggle" class="btn-collapsible">
        <span><iron-icon icon="av:featured-video"></iron-icon></span> [[msgBtn]]
      </button>
      <iron-collapse id="collapse">
        <div class="collapse-content">
          <iron-ajax 
            auto 
            url="https://demo6292426.mockable.io/graphicCard" 
            last-response="{{cards}}"></iron-ajax>
          <template is="dom-repeat" items="[[cards.data]]">
            <li id='selected' on-click="selectItem">Tarjeta Gráfica <b>{{item.name}}</b> </li>
          </template>
        </div>
      </iron-collapse>
    
      <template is="dom-if" if="[[name]]">
        <div id="show-selected">
          Tarjeta Gráfica seleccionada: <b>{{name}}</b>.
          <span on-click='reset' class="close">X</span> <br>
        </div>
      </template>
    </div>
  </template>

  <script>
    /**
     * `graphic-card-provider`
     * 
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class GraphicCardProvider extends Polymer.Element {
      static get is() { return 'graphic-card-provider'; }
      static get properties() {
        return {
          cards: {
            type: Array,
            value: []
          },
          name: {//esta en el padre (pc-component), como propiedad: name="{{nameGraphicCard}}"
            type: String,
            notify: true
          },
          isCollapsible: {
            type: Boolean,
            value: false,
          },
          isOpenCollapsible: { type: Boolean, value: false, notify: true },
          msgBtn: String
        };
      }
      
      selectItem(e) {
        this.name = e.model.item.name;
        this.isOpenCollapsible = false;
        this.toggle();
      }
      
      toggle() {
        this.$.collapse.toggle();
        this.$.btn.setAttribute('aria-expanded', this.$.collapse.opened);
        this.isCollapsible = !this.isCollapsible;
        if (!this.isOpenCollapsible) {
          if (this.isCollapsible && !this.name) {
            this.isOpenCollapsible = true;
          }
        }
      }
      
      static get observers() {
        return ['_viewChanges(isCollapsible, name)'];
      }

      _viewChanges(isCollapsible, name) {
        if (isCollapsible) {
          this.msgBtn = 'Ocultar Tarjetas Gráficas';
        } else if (name) {
          this.msgBtn = "Volver a seleccionar";
        } else {
          this.msgBtn = 'Mostrar Tarjetas Gráficas';
        }
      }

      reset() {
        this.name = undefined;
      }
    }
    window.customElements.define(GraphicCardProvider.is, GraphicCardProvider);
  </script>
</dom-module>